.title {
  font-size: 16px;
  font-weight: 650;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.847058823529412);
  margin-bottom: 20px;
}

.coordinate {
  margin-bottom: 0;
  :global {
    .ant-form-item {
      width: 50%;
      display: inline-block;
    }
  }
}

.longitudeInput {
  width: 66%;
}

.avatarUploader {
  width: 128px;
  height: 128px;
}

.btns {
  text-align: center;
}

.text{
  color: #1890ff;
  position: relative;
  bottom: 40px;
  left: 103%;
}
.text:hover{
  cursor: pointer;
}

.modalHeader{
  :global{
    .ant-modal-header{
      background:#3992e4 !important;
      .ant-modal-title{
        color: aliceblue !important;
        font-size: 22px;
      }
    }
  }
}

.scoreModal {
  :global {
    .ant-modal-header{
      background:#3992e4 !important;
      .ant-modal-title{
        color: aliceblue !important;
        font-size: 22px;
      }
    }
    .ant-input-number {
      width: 100%;
    }
    .ant-card {
      margin-bottom: 16px;
      .ant-card-head {
        min-height: 0;
        padding: 0 12px;
        .ant-card-head-title {
          padding: 8px 0;
          color: rgba(0, 0, 0, 0.847058823529412);
        }
      }
      .ant-card-body {
        padding: 12px;
      }
    }
  }
  .memberInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .phone {
      position: relative;
      .eye {
        position: absolute;
        top: 1px;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  .footer {
    text-align: center;
    button {
      width: 500px;
    }
  }
}
